<div id="<%= dom_id answer %>">
  <p>
    <strong>Text:</strong>
    <%= answer.text %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= answer.score %>
  </p>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= answer.round_id %>
  </p>

</div>
